<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <p>
            {% for student in students%}
            {{student.name}}
            {% endfor %}

        </p>
        <form action="/student" method="post">
            <input type="text" name="name" placeholder="Enter student name">
            <input type="email" name="email" placeholder="Enter student email">
            <input type="number" name="national_id" placeholder="Enter national id">
            <select name="status">
                <option value="True">Active</option>
                <option value="False">Disabled</option>
            </select>
            <input type="submit" value="SAVE">
        </form>
    </div>
</body>

</html>